


<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <small class="pull-right">
                <a href="{% url 'connectioninfo_list' %}">Connection Info List</a>
            </small>
            <h2 class="panel-title">Connection Info List</h2>
        </div>
        <div class="panel-body">
            <div class="btn-toolbar">
                <a class="btn open-dialog cb-btn-primary" href="{% url 'cft_ci_create' %}"><span class="icon-add"></span> Create new Connection Info</a>
            </div>
            {% if connection_infos %}
                <p>List of Connection Infos used for CloudFormation Source Control (has <code>github</code> or <code>gitlab</code> in <b>Labels</b> field).</p>
                <table class="dataTable no-footer table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Protocol</th>
                            <th>IP/Hostname</th>
                            <th>Port</th>
                            <th>Username</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ci in connection_infos %}
                        <tr>
                            <td>{{ci.name}}</td>
                            <td>{{ci.protocol}}</td>
                            <td>{{ci.ip}}</td>
                            <td>{{ci.port}}</td>
                            <td>{{ci.username}}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="icon-edit btn btn-default btn-sm open-dialog"
                                        href="{% url 'cft_ci_edit' ci.id %}"></a>
                                    <a class="icon-delete btn btn-default btn-sm open-dialog"
                                        href="{% url 'cft_ci_delete' ci.id %}"></a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-info w-75">
                    <p><i class="fas fa-info-circle mr-2"></i> Create a new Connection Info for Source Repository. Add <code>github</code> or <code>gitlab</code> in <b>Labels</b> field.</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>